<%= layout("/layouts/boilerplate.ejs") %>

<div class="container text-center mt-3">
    <h1 class="mb-3">Enrollment Requests</h1>
    <div class="row">
        <div class="col border request">
           EXAM NAME
        </div>
        <div class="col border request">
            STUDENT
        </div>
        <div class="col border request">
            STATUS
        </div>
    </div>
</div>
<div class="container text-center">
    <% if (exam && exam.enrolled) { %>
        <% for(enrollment of exam.enrolled) { %>
            <div class="row">
                <div class="col border request-student">
                    <%= enrollment.examname %>
                </div>
                <div class="col border request-student">
                    <%= enrollment.student %>
                </div>
                <div class="col border request-student">
                    <% if(enrollment.status !== "approved" && enrollment.status !== "rejected" ) {%>
                        <form action="/approveExam/<%= enrollment._id %>/student/<%= enrollment.studentId %>/accept/">
                            <button type="submit" class="approve">Request</button>
                        </form>
                    <% } %>
                    <!-- <% if(enrollment.status !== "approved" && enrollment.status !== "rejected" ) {%>
                        <form action="/enrollment-requests/<%= enrollment._id %>/approve" method="POST">
                            <button type="submit" class="approve">Approve</button>
                        </form>
                        <form action="/enrollment-requests/<%= enrollment._id %>/reject" method="POST">
                            <button type="submit" class="reject">Reject</button>
                        </form>
                    <% } %> -->
                    <% if(enrollment.status === "approved"){ %>
                        <p class="isapproved"><i class="fa-solid fa-circle-check" style="padding-right: 5px;"></i> Accepted</p>
                    <% } %>
                    <% if(enrollment.status === "rejected"){ %>
                        <p class="isrejected"><i class="fa-solid fa-circle-xmark" style="padding-right: 5px;"></i> Rejected</p>
                    <% } %>
                </div>
            </div>
        <% }; %>    
    <% }; %>
</div>


