<% layout("/layouts/boilerplate.ejs") %>


<div class="container container-max">
    <div class="container-max-main">
        <form id="examForm"  action="/StudentExam/<%= exam._id%>/exam" method="POST">
            <div class="exam-top-section">
                <li><%= exam.examName %></li>
                <div class="timer">
                    <div > Time : </div>
                    <div id="countdown"></div> 
                 </div>
            </div>
            
            <input type="hidden" id="remainingTime" name="remainingTime" value="<%= exam.duration * 60 * 1000 %>">
            <div class="questions-mar">
                <% for (let i = 0; i < exam.questions.length; i++) { %>
                    <h5><%=i + 1 %> . <%= exam.questions[i].question %></h5>
                    <% for (let j = 0; j < exam.questions[i].options.length; j++) { %>
                        <input class="form-check-input check-class check" type="radio" name="selectedOption<%=i %>" style="border: 1px solid black;" id="flexRadioDefault<%= j + 1 %>" value="<%= j + 1 %>" >
                        <label class="form-check-label " for="selectedOption<%= i %>">
                            <%= exam.questions[i].options[j] %>
                        </label><br>
                    <% } %>
                    <input type="hidden" name="questionId<%= i %>" value="<%= exam.questions[i]._id %>">
                <% } %>
            </div>
            <div class="quest-submit">
                <button class="btn btn-success" type="submit" value="submit" >Submit</button>
            </div>
        </form>
    </div>
    </div>
   
